In [1]:
!pip install tableauhyperapi         > /dev/null 2>&1
!pip install deltalake               > /dev/null 2>&1

StatementMeta(, 81161560-abc3-4db9-af26-00e6494a5003, 3, Finished, Available)

In [2]:
sf=100
from psutil import *
core = cpu_count()
core

StatementMeta(, 81161560-abc3-4db9-af26-00e6494a5003, 4, Finished, Available)

64

In [3]:
sql=(f'''
SELECT
    --Query01
    l_returnflag,
    l_linestatus,
    SUM(l_quantity) AS sum_qty,
    SUM(l_extendedprice) AS sum_base_price,
    SUM(l_extendedprice * (1 - l_discount)) AS sum_disc_price,
    SUM(l_extendedprice * (1 - l_discount) * (1 + l_tax)) AS sum_charge,
    AVG(l_quantity) AS avg_qty,
    AVG(l_extendedprice) AS avg_price,
    AVG(l_discount) AS avg_disc,
    COUNT(*) AS count_order
FROM
    lineitem
WHERE
    l_shipdate <= CAST('1998-09-02' AS date)
GROUP BY
    l_returnflag,
    l_linestatus
ORDER BY
    l_returnflag,
    l_linestatus;

    
SELECT
    --Query02
    s_acctbal,
    s_name,
    n_name,
    p_partkey,
    p_mfgr,
    s_address,
    s_phone,
    s_comment
FROM
    part,
    supplier,
    partsupp,
    nation,
    region
WHERE
    p_partkey = ps_partkey
    AND s_suppkey = ps_suppkey
    AND p_size = 15
    AND p_type LIKE '%BRASS'
    AND s_nationkey = n_nationkey
    AND n_regionkey = r_regionkey
    AND r_name = 'EUROPE'
    AND ps_supplycost = (
        SELECT
            MIN(ps_supplycost)
        FROM
            partsupp,
            supplier,
            nation,
            region
        WHERE
            p_partkey = ps_partkey
            AND s_suppkey = ps_suppkey
            AND s_nationkey = n_nationkey
            AND n_regionkey = r_regionkey
            AND r_name = 'EUROPE'
    )
ORDER BY
    s_acctbal DESC,
    n_name,
    s_name,
    p_partkey
LIMIT
    100;







SELECT
    --Query03
    l_orderkey,
    SUM(l_extendedprice * (1 - l_discount)) AS revenue,
    o_orderdate,
    o_shippriority
FROM
    customer,
    orders,
    lineitem
WHERE
    c_mktsegment = 'BUILDING'
    AND c_custkey = o_custkey
    AND l_orderkey = o_orderkey
    AND o_orderdate < CAST('1995-03-15' AS date)
    AND l_shipdate > CAST('1995-03-15' AS date)
GROUP BY
    l_orderkey,
    o_orderdate,
    o_shippriority
ORDER BY
    revenue DESC,
    o_orderdate
LIMIT
    10;


    





SELECT
    --Query04
    o_orderpriority,
    COUNT(*) AS order_count
FROM
    orders
WHERE
    o_orderdate >= CAST('1993-07-01' AS date)
    AND o_orderdate < CAST('1993-10-01' AS date)
    AND EXISTS (
        SELECT
            *
        FROM
            lineitem
        WHERE
            l_orderkey = o_orderkey
            AND l_commitdate < l_receiptdate
    )
GROUP BY
    o_orderpriority
ORDER BY
    o_orderpriority;


    





SELECT
    --Query05
    n_name,
    SUM(l_extendedprice * (1 - l_discount)) AS revenue
FROM
    customer,
    orders,
    lineitem,
    supplier,
    nation,
    region
WHERE
    c_custkey = o_custkey
    AND l_orderkey = o_orderkey
    AND l_suppkey = s_suppkey
    AND c_nationkey = s_nationkey
    AND s_nationkey = n_nationkey
    AND n_regionkey = r_regionkey
    AND r_name = 'ASIA'
    AND o_orderdate >= CAST('1994-01-01' AS date)
    AND o_orderdate < CAST('1995-01-01' AS date)
GROUP BY
    n_name
ORDER BY
    revenue DESC;


    




SELECT
    --Query06
    SUM(l_extendedprice * l_discount) AS revenue
FROM
    lineitem
WHERE
    l_shipdate >= CAST('1994-01-01' AS date)
    AND l_shipdate < CAST('1995-01-01' AS date)
    AND l_discount BETWEEN 0.05
    AND 0.07
    AND l_quantity < 24;


    




SELECT
    --Query07
    supp_nation,
    cust_nation,
    l_year,
    SUM(volume) AS revenue
FROM
    (
        SELECT
            n1.n_name AS supp_nation,
            n2.n_name AS cust_nation,
            EXTRACT(
                year
                FROM
                    l_shipdate
            ) AS l_year,
            l_extendedprice * (1 - l_discount) AS volume
        FROM
            supplier,
            lineitem,
            orders,
            customer,
            nation n1,
            nation n2
        WHERE
            s_suppkey = l_suppkey
            AND o_orderkey = l_orderkey
            AND c_custkey = o_custkey
            AND s_nationkey = n1.n_nationkey
            AND c_nationkey = n2.n_nationkey
            AND (
                (
                    n1.n_name = 'FRANCE'
                    AND n2.n_name = 'GERMANY'
                )
                OR (
                    n1.n_name = 'GERMANY'
                    AND n2.n_name = 'FRANCE'
                )
            )
            AND l_shipdate BETWEEN CAST('1995-01-01' AS date)
            AND CAST('1996-12-31' AS date)
    ) AS shipping
GROUP BY
    supp_nation,
    cust_nation,
    l_year
ORDER BY
    supp_nation,
    cust_nation,
    l_year;


    




SELECT
    --Query08
    o_year,
    SUM(
        CASE
            WHEN nation = 'BRAZIL' THEN volume
            ELSE 0
        END
    ) / SUM(volume) AS mkt_share
FROM
    (
        SELECT
            EXTRACT(
                year
                FROM
                    o_orderdate
            ) AS o_year,
            l_extendedprice * (1 - l_discount) AS volume,
            n2.n_name AS nation
        FROM
            part,
            supplier,
            lineitem,
            orders,
            customer,
            nation n1,
            nation n2,
            region
        WHERE
            p_partkey = l_partkey
            AND s_suppkey = l_suppkey
            AND l_orderkey = o_orderkey
            AND o_custkey = c_custkey
            AND c_nationkey = n1.n_nationkey
            AND n1.n_regionkey = r_regionkey
            AND r_name = 'AMERICA'
            AND s_nationkey = n2.n_nationkey
            AND o_orderdate BETWEEN CAST('1995-01-01' AS date)
            AND CAST('1996-12-31' AS date)
            AND p_type = 'ECONOMY ANODIZED STEEL'
    ) AS all_nations
GROUP BY
    o_year
ORDER BY
    o_year;


    







SELECT
    --Query09
    nation,
    o_year,
    SUM(amount) AS sum_profit
FROM
    (
        SELECT
            n_name AS nation,
            EXTRACT(
                year
                FROM
                    o_orderdate
            ) AS o_year,
            l_extendedprice * (1 - l_discount) - ps_supplycost * l_quantity AS amount
        FROM
            part,
            supplier,
            lineitem,
            partsupp,
            orders,
            nation
        WHERE
            s_suppkey = l_suppkey
            AND ps_suppkey = l_suppkey
            AND ps_partkey = l_partkey
            AND p_partkey = l_partkey
            AND o_orderkey = l_orderkey
            AND s_nationkey = n_nationkey
            AND p_name LIKE '%green%'
    ) AS profit
GROUP BY
    nation,
    o_year
ORDER BY
    nation,
    o_year DESC;


    





SELECT
    --Query10
    c_custkey,
    c_name,
    SUM(l_extendedprice * (1 - l_discount)) AS revenue,
    c_acctbal,
    n_name,
    c_address,
    c_phone,
    c_comment
FROM
    customer,
    orders,
    lineitem,
    nation
WHERE
    c_custkey = o_custkey
    AND l_orderkey = o_orderkey
    AND o_orderdate >= CAST('1993-10-01' AS date)
    AND o_orderdate < CAST('1994-01-01' AS date)
    AND l_returnflag = 'R'
    AND c_nationkey = n_nationkey
GROUP BY
    c_custkey,
    c_name,
    c_acctbal,
    c_phone,
    n_name,
    c_address,
    c_comment
ORDER BY
    revenue DESC
LIMIT
    20;







SELECT
    --Query11
    ps_partkey,
    SUM(ps_supplycost * ps_availqty) AS value
FROM
    partsupp,
    supplier,
    nation
WHERE
    ps_suppkey = s_suppkey
    AND s_nationkey = n_nationkey
    AND n_name = 'GERMANY'
GROUP BY
    ps_partkey
HAVING
    SUM(ps_supplycost * ps_availqty) > (
        SELECT
            SUM(ps_supplycost * ps_availqty) * (0.0001/{sf})
            -- SUM(ps_supplycost * ps_availqty) * 1
        FROM
            partsupp,
            supplier,
            nation
        WHERE
            ps_suppkey = s_suppkey
            AND s_nationkey = n_nationkey
            AND n_name = 'GERMANY'
    )
ORDER BY
    value DESC;


    





SELECT
    --Query12
    l_shipmode,
    SUM(
        CASE
            WHEN o_orderpriority = '1-URGENT'
            OR o_orderpriority = '2-HIGH' THEN 1
            ELSE 0
        END
    ) AS high_line_count,
    SUM(
        CASE
            WHEN o_orderpriority <> '1-URGENT'
            AND o_orderpriority <> '2-HIGH' THEN 1
            ELSE 0
        END
    ) AS low_line_count
FROM
    orders,
    lineitem
WHERE
    o_orderkey = l_orderkey
    AND l_shipmode IN ('MAIL', 'SHIP')
    AND l_commitdate < l_receiptdate
    AND l_shipdate < l_commitdate
    AND l_receiptdate >= CAST('1994-01-01' AS date)
    AND l_receiptdate < CAST('1995-01-01' AS date)
GROUP BY
    l_shipmode
ORDER BY
    l_shipmode;


    





SELECT
    --Query13
    c_count,
    COUNT(*) AS custdist
FROM
    (
        SELECT
            c_custkey,
            COUNT(o_orderkey) AS c_count
        FROM
            customer
            LEFT OUTER JOIN orders ON c_custkey = o_custkey
            AND o_comment NOT LIKE '%special%requests%'
        GROUP BY
            c_custkey
    ) AS c_orders
GROUP BY
    c_count
ORDER BY
    custdist DESC,
    c_count DESC;


    





SELECT
    --Query14
    100.00 * SUM(
        CASE
            WHEN p_type LIKE 'PROMO%' THEN l_extendedprice * (1 - l_discount)
            ELSE 0
        END
    ) / SUM(l_extendedprice * (1 - l_discount)) AS promo_revenue
FROM
    lineitem,
    part
WHERE
    l_partkey = p_partkey
    AND l_shipdate >= date '1995-09-01'
    AND l_shipdate < CAST('1995-10-01' AS date);


    





SELECT
    --Query15
    s_suppkey,
    s_name,
    s_address,
    s_phone,
    total_revenue
FROM
    supplier,
    (
        SELECT
            l_suppkey AS supplier_no,
            SUM(l_extendedprice * (1 - l_discount)) AS total_revenue
        FROM
            lineitem
        WHERE
            l_shipdate >= CAST('1996-01-01' AS date)
            AND l_shipdate < CAST('1996-04-01' AS date)
        GROUP BY
            l_suppkey
    ) revenue0
WHERE
    s_suppkey = supplier_no
    AND total_revenue = (
        SELECT
            MAX(total_revenue)
        FROM
            (
                SELECT
                    l_suppkey AS supplier_no,
                    SUM(l_extendedprice * (1 - l_discount)) AS total_revenue
                FROM
                    lineitem
                WHERE
                    l_shipdate >= CAST('1996-01-01' AS date)
                    AND l_shipdate < CAST('1996-04-01' AS date)
                GROUP BY
                    l_suppkey
            ) revenue1
    )
ORDER BY
    s_suppkey;


    





SELECT
    --Query16
    p_brand,
    p_type,
    p_size,
    COUNT(DISTINCT ps_suppkey) AS supplier_cnt
FROM
    partsupp,
    part
WHERE
    p_partkey = ps_partkey
    AND p_brand <> 'Brand#45'
    AND p_type NOT LIKE 'MEDIUM POLISHED%'
    AND p_size IN (
        49,
        14,
        23,
        45,
        19,
        3,
        36,
        9
    )
    AND ps_suppkey NOT IN (
        SELECT
            s_suppkey
        FROM
            supplier
        WHERE
            s_comment LIKE '%Customer%Complaints%'
    )
GROUP BY
    p_brand,
    p_type,
    p_size
ORDER BY
    supplier_cnt DESC,
    p_brand,
    p_type,
    p_size;


    





SELECT
    --Query17
    SUM(l_extendedprice) / 7.0 AS avg_yearly
FROM
    lineitem,
    part
WHERE
    p_partkey = l_partkey
    AND p_brand = 'Brand#23'
    AND p_container = 'MED BOX'
    AND l_quantity < (
        SELECT
            0.2 * AVG(l_quantity)
        FROM
            lineitem
        WHERE
            l_partkey = p_partkey
    );
    





SELECT
    --Query18
    c_name,
    c_custkey,
    o_orderkey,
    o_orderdate,
    o_totalprice,
    SUM(l_quantity)
FROM
    customer,
    orders,
    lineitem
WHERE
    o_orderkey IN (
        SELECT
            l_orderkey
        FROM
            lineitem
        GROUP BY
            l_orderkey
        HAVING
            SUM(l_quantity) > 300
    )
    AND c_custkey = o_custkey
    AND o_orderkey = l_orderkey
GROUP BY
    c_name,
    c_custkey,
    o_orderkey,
    o_orderdate,
    o_totalprice
ORDER BY
    o_totalprice DESC,
    o_orderdate
LIMIT
    100;
    




SELECT
    --Query19
    SUM(l_extendedprice * (1 - l_discount)) AS revenue
FROM
    lineitem,
    part
WHERE
    (
        p_partkey = l_partkey
        AND p_brand = 'Brand#12'
        AND p_container IN (
            'SM CASE',
            'SM BOX',
            'SM PACK',
            'SM PKG'
        )
        AND l_quantity >= 1
        AND l_quantity <= 1 + 10
        AND p_size BETWEEN 1
        AND 5
        AND l_shipmode IN ('AIR', 'AIR REG')
        AND l_shipinstruct = 'DELIVER IN PERSON'
    )
    OR (
        p_partkey = l_partkey
        AND p_brand = 'Brand#23'
        AND p_container IN (
            'MED BAG',
            'MED BOX',
            'MED PKG',
            'MED PACK'
        )
        AND l_quantity >= 10
        AND l_quantity <= 10 + 10
        AND p_size BETWEEN 1
        AND 10
        AND l_shipmode IN ('AIR', 'AIR REG')
        AND l_shipinstruct = 'DELIVER IN PERSON'
    )
    OR (
        p_partkey = l_partkey
        AND p_brand = 'Brand#34'
        AND p_container IN (
            'LG CASE',
            'LG BOX',
            'LG PACK',
            'LG PKG'
        )
        AND l_quantity >= 20
        AND l_quantity <= 20 + 10
        AND p_size BETWEEN 1
        AND 15
        AND l_shipmode IN ('AIR', 'AIR REG')
        AND l_shipinstruct = 'DELIVER IN PERSON'
    );
    





SELECT
    --Query20
    s_name,
    s_address
FROM
    supplier,
    nation
WHERE
    s_suppkey IN (
        SELECT
            ps_suppkey
        FROM
            partsupp
        WHERE
            ps_partkey IN (
                SELECT
                    p_partkey
                FROM
                    part
                WHERE
                    p_name LIKE 'forest%'
            )
            AND ps_availqty > (
                SELECT
                    0.5 * SUM(l_quantity)
                FROM
                    lineitem
                WHERE
                    l_partkey = ps_partkey
                    AND l_suppkey = ps_suppkey
                    AND l_shipdate >= CAST('1994-01-01' AS date)
                    AND l_shipdate < CAST('1995-01-01' AS date)
            )
    )
    AND s_nationkey = n_nationkey
    AND n_name = 'CANADA'
ORDER BY
    s_name;
    





SELECT
    --Query21
    s_name,
    COUNT(*) AS numwait
FROM
    supplier,
    lineitem l1,
    orders,
    nation
WHERE
    s_suppkey = l1.l_suppkey
    AND o_orderkey = l1.l_orderkey
    AND o_orderstatus = 'F'
    AND l1.l_receiptdate > l1.l_commitdate
    AND EXISTS (
        SELECT
            *
        FROM
            lineitem l2
        WHERE
            l2.l_orderkey = l1.l_orderkey
            AND l2.l_suppkey <> l1.l_suppkey
    )
    AND NOT EXISTS (
        SELECT
            *
        FROM
            lineitem l3
        WHERE
            l3.l_orderkey = l1.l_orderkey
            AND l3.l_suppkey <> l1.l_suppkey
            AND l3.l_receiptdate > l3.l_commitdate
    )
    AND s_nationkey = n_nationkey
    AND n_name = 'SAUDI ARABIA'
GROUP BY
    s_name
ORDER BY
    numwait DESC,
    s_name
LIMIT
    100;
    





SELECT
    --Query22
    cntrycode,
    COUNT(*) AS numcust,
    SUM(c_acctbal) AS totacctbal
FROM
    (
        SELECT
            SUBSTRING(c_phone, 1, 2) AS cntrycode,
            c_acctbal
        FROM
            customer
        WHERE
            SUBSTRING(c_phone, 1, 2) IN (
                '13',
                '31',
                '23',
                '29',
                '30',
                '18',
                '17'
            )
            AND c_acctbal > (
                SELECT
                    AVG(c_acctbal)
                FROM
                    customer
                WHERE
                    c_acctbal > 0.00
                    AND SUBSTRING(c_phone, 1, 2) IN (
                        '13',
                        '31',
                        '23',
                        '29',
                        '30',
                        '18',
                        '17'
                    )
            )
            AND NOT EXISTS (
                SELECT
                    *
                FROM
                    orders
                WHERE
                    o_custkey = c_custkey
            )
    ) AS custsale
GROUP BY
    cntrycode
ORDER BY
    cntrycode;
    
''')

StatementMeta(, 81161560-abc3-4db9-af26-00e6494a5003, 5, Finished, Available)

In [4]:
%%time
import pandas as pd
import os
import time
from deltalake import DeltaTable
from tableauhyperapi import HyperProcess, Telemetry, Connection, CreateMode, NOT_NULLABLE, NULLABLE, \
SqlType, TableDefinition, Inserter, escape_name, escape_string_literal, HyperException, TableName
with HyperProcess(telemetry=Telemetry.SEND_USAGE_DATA_TO_TABLEAU) as hyper:
         with Connection(endpoint=hyper.endpoint, database="tpch.hyper",create_mode=CreateMode.CREATE_IF_NOT_EXISTS) as connection:  
             #### Loading external temp tables  
             start = time.time()      
             for tbl in ['nation','region','customer','supplier','lineitem','orders','partsupp','part'] :
                dt = DeltaTable('/lakehouse/default/Tables/'+ tbl)
                delta = ['/lakehouse/default/Tables/' +tbl + "/" + i for i in dt.files()]
                print(tbl)
                connection.execute_list_query(f""" create temp EXTERNAL table IF NOT EXISTS {tbl} for array{delta} WITH ( FORMAT => 'parquet') """)
             stop = time.time()
             external_table_duration = stop-start
             #### Run Queries  
             df = pd.DataFrame(columns=['dur','Query'])
             sql_arr = sql.split(";")
             for index, value in enumerate(sql_arr,start=1):
                  if len(value.strip()) > 0:
                      start = time.time()
                      print('Query' + str(index))
                      try :
                       data=connection.execute_list_query(value)
                       print(pd.DataFrame.from_records(data))
                       stop = time.time()
                       duration = stop-start
                      except  Exception as er:
                        print(er)
                        duration =0
                      print(duration)
                      row = {'dur': duration,'Query':index}
                      df = pd.concat([df,pd.DataFrame(row, index=[index])], axis=0, ignore_index=True)

if not os.path.exists(os.getcwd() + '/' + 'result'):
    os.makedirs(os.getcwd() + '/' + 'result', exist_ok=True)
df.to_csv ('hyper.csv', index = None, header=True)

StatementMeta(, 81161560-abc3-4db9-af26-00e6494a5003, 6, Finished, Available)

nation
region
customer
supplier
lineitem
orders
partsupp
part
Query1
   0  1              2                  3                    4  \
0  A  F  3775127758.00   5660776097194.45   5377736398183.9374
1  N  F    98553062.00    147771098385.98    140384965965.0348
2  N  O  7436302976.00  11150725681373.59  10593195308234.8523
3  R  F  3775724970.00   5661603032745.34   5378513563915.4097

                     5     6         7     8          9
0   5592847424433.1659  25.5  38236.12  0.05  148047881
1    145999792900.0450  25.5   38237.2  0.05    3864590
2  11016932238171.6079  25.5  38237.23  0.05  291619617
3   5593662247582.9357  25.5   38236.7  0.05  148067261
91.71819305419922
Query2
          0                   1               2         3               4  \
0    9999.7  Supplier#000239544  UNITED KINGDOM   6739531  Manufacturer#4
1   9999.65  Supplier#000143654          FRANCE   2393647  Manufacturer#3
2   9999.49  Supplier#000615014         GERMANY  12365001  Manufacturer#3
3   9999.28  Supplier#000494480         ROMANIA  17244462  Manufacturer#3
4   9998.87  Supplier#000826281         ROMANIA  14326252  Manufacturer#3
..      ...                 ...             ...       ...             ...
95  9976.15  Supplier#000249831         ROMANIA   3249830  Manufacturer#3
96  9975.74  Supplier#000846320          RUSSIA   8096295  Manufacturer#4
97  9975.69  Supplier#000378812          FRANCE  15628766  Manufacturer#1
98  9975.67  Supplier#000634390         ROMANIA  13134363  Manufacturer#1
99  9975.53  Supplier#000310136         ROMANIA  10810115  Manufacturer#5

                                       5                6  \
0            1UCMu3TLyUThghoeZ8arg6cV3Mr  33-509-584-9496
1   kJjo119CzmTjMWx3wtinBzb1M1TO1IiJZtR1  16-166-504-5864
2                        Xo0xcyhnIKUs0WM  17-780-902-4027
3          KdpYAP2EDtNA NrNE0CYS7usfwv F  29-756-312-1779
4                    gGkEf9qHPHLg8V1aMBf  29-775-451-4774
..                                   ...              ...
95     lEs5ux7FADoZsnUk62VYcI9YiwkX,TskI  29-187-368-9234
96                      ,ZwPdKJX1qmMnOQN  32-487-239-6035
97          tQ4eGlGNnY0pkYNRVPQ498bsjnr7  16-867-261-3212
98                            zHDCa7MaLJ  29-665-426-1647
99                           VNWONA5Sr B  29-977-903-6199

                                                    7
0    y against the pending, final packages. fluffily
1            are quickly along the quickly bold escap
2                         pinto beans nag furiously i
3           dolites. requests wake. slyly final packa
4   ly alongside of the instructions. slyly even r...
..                                                ...
95             into beans dazzle carefully. final ins
96  furiously express ideas sleep slyly requests. acc
97  for the blithely unusual accounts are slyly ev...
98                         ic, express frets haggle q
99  after the ironic pinto beans sleep about the f...

[100 rows x 8 columns]
5.496797800064087
Query3
           0            1           2  3
0  249739810  492136.8537  1995-02-28  0
1  165214338  485645.5293  1995-03-09  0
2  507274210  485256.2467  1995-03-10  0
3  202071367  474746.4068  1995-03-12  0
4   37307463  474325.1938  1995-02-06  0
5  461984355  468002.5274  1995-03-13  0
6  100810368  467932.7645  1995-02-28  0
7   74015523  467786.8027  1995-03-14  0
8  402772582  463367.0665  1995-03-10  0
9  367111712  462559.3977  1995-03-01  0
107.33497333526611
Query4
                 0        1
0         1-URGENT  1051801
1           2-HIGH  1051366
2         3-MEDIUM  1051587
3  4-NOT SPECIFIED  1050950
4            5-LOW  1051725
9.062029600143433
Query5
           0                1
0    VIETNAM  5310749966.8670
1      INDIA  5296094837.7503
2      JAPAN  5282184528.8254
3      CHINA  5270934901.5602
4  INDONESIA  5270340980.4608
6.213160753250122
Query6
                  0
0  12330426888.4637
1.288050651550293
Query7
         0        1     2                3
0   FRANCE  GERMANY  1995  5296106289.7407
1   FRANCE  GERMANY  1996  5313955237.5650
2  GERMANY   FRANCE  1995  5286060012.2108
3  GERMANY   FRANCE  1996  5324729138.8922
7.651575565338135
Query8
      0       1
0  1995  0.0395
1  1996  0.0390
29.75683903694153
Query9
           0     1                2
0    ALGERIA  1998  2746388473.8032
1    ALGERIA  1997  4705096214.1934
2    ALGERIA  1996  4691101028.3880
3    ALGERIA  1995  4692240612.2209
4    ALGERIA  1994  4677512644.2049
..       ...   ...              ...
170  VIETNAM  1996  4690535970.8003
171  VIETNAM  1995  4692078285.1287
172  VIETNAM  1994  4705541885.2493
173  VIETNAM  1993  4708733491.5609
174  VIETNAM  1992  4681498238.7580

[175 rows x 3 columns]
130.7104365825653
Query10
           0                   1            2        3               4  \
0    7450894  Customer#007450894  936768.8469   927.18       ARGENTINA
1    9739771  Customer#009739771  842966.5285  1286.48          JORDAN
2    4571035  Customer#004571035  838705.6168  6704.13  UNITED KINGDOM
3     637855  Customer#000637855  812034.3778  2674.86      MOZAMBIQUE
4   10781974  Customer#010781974  801735.5176  5079.77         ROMANIA
5   11361613  Customer#011361613  800558.4337  4644.71       INDONESIA
6    1259743  Customer#001259743  793274.7846  2592.74        ETHIOPIA
7    5154136  Customer#005154136  787191.1959  1028.97         MOROCCO
8   14986552  Customer#014986552  781645.8638  2678.94       ARGENTINA
9    2905816  Customer#002905816  778729.4414  5085.53   UNITED STATES
10   6184141  Customer#006184141  772721.0973  5901.88          BRAZIL
11   7852024  Customer#007852024  769688.6616  1197.57           INDIA
12   7183231  Customer#007183231  768455.8796  -683.01           INDIA
13   1627651  Customer#001627651  768300.3006  3059.82         MOROCCO
14  13624771  Customer#013624771  767856.1562  -168.68            IRAN
15  13896424  Customer#013896424  760957.6214  3798.91       INDONESIA
16   4926817  Customer#004926817  758756.8533  5462.22          RUSSIA
17    319150  Customer#000319150  757235.8949  3257.68            IRAN
18   5894188  Customer#005894188  756482.0641     3062          BRAZIL
19   3387028  Customer#003387028  755937.5757  3726.64        ETHIOPIA

                                           5                6  \
0    Kub3yOhSWLuc MTLe8owZ spwzrOvVlX8WQJwuE  11-833-256-7879
1                         zoTOSQ1TrpuUDmCk9f  23-281-450-4794
2          Z,inL0muZQK8AiEm3qme9CBjuYIO0JTfH  33-138-285-3770
3                                BV7zGwFIOkc  26-852-120-2850
4             pwYB0N97ySprr4vi5UZ382q0U8WCPp  29-651-722-6239
5                            I4gKJjA4BV6syYz  19-344-539-9187
6          35Mr0In QWvDgyLt8UYPECuBEllYNShLI  15-733-636-6732
7                 30OHoO9k5s,HrKS3a6k9fLVsXa  25-841-379-9394
8                                 zFVtpT4Zo,  11-671-762-3613
9                                 QOfcBYPRbq  34-217-584-5820
10                     3CxIFtsmlpESaUQzurlTV  12-563-743-4211
11  ZrF1h1tpKbH9j5cVtnD3NMJFtE1my05S86WiWU09  18-141-580-3886
12                           Ds83MjPovIdahJd  18-270-127-8463
13           PBXh8ZQR2xTOpgQo 7FBfI EZGZ BnD  25-732-202-4862
14                 uekVASYAlR1fqAFoJwcgndQAF  20-919-886-5399
15                                PzqffgfQ7p  19-494-837-4503
16                             4RbwBrzz6eHCI  32-610-751-1595
17         GZg5Tg1XIJUOKHxb6C,I4h7PrwFiwitvn  20-837-276-7259
18   ,b 3YYdbkOsSZdSEekTT,Dk8dljn 4aUkzEE9M3  12-372-345-6045
19                             IWj4CTUBet5tE  15-880-219-8399

                                                    7
0   the furiously unusual foxes! platelets nag bol...
1   boost quickly. never dogged instructions boost...
2   ecial theodolites wake slyly across the never ...
3   ges. express, special dolphins cajole around t...
4             sits haggle evenly. express packages sl
5   l, special dependencies. carefully regular ins...
6   y express requests cajole furiously alongside ...
7   affix carefully blithely unusual requests. unu...
8   s. packages haggle carefully at the ironic bra...
9   s under the regular sheaves sleep blithely fin...
10  eodolites according to the carefully final acc...
11   blithely ironic notornis cajole according to ...
12  ial pinto beans among the furiously special de...
13  ts are alongside of the requests. carefully re...
14  unts wake furiously above the carefully specia...
15   the quickly furious deposits. packages after ...
16   against the furiously regular ideas. carefully e
17  deposits. regular accounts nag. slyly ironic idea
18              slyly regular pinto beans integrate s
19  ests sleep furiously among the furiously regul...
99.2167797088623
Query11
                0            1
0        16036036  23649655.33
1        17367252  22489140.14
2         4374484  22044999.19
3        17187643  21691256.18
4         1508568  21613789.59
...           ...          ...
3016838  15155244        13.32
3016839   3608476        12.90
3016840  16019354         9.26
3016841  12123847         7.45
3016842   3012532         6.21

[3016843 rows x 2 columns]
25.388242721557617
Query12
      0       1       2
0  MAIL  623115  934713
1  SHIP  622979  934534
74.00107026100159
Query13
     0        1
0    0  5000179
1   10   677129
2    9   663272
3   11   632721
4    8   590190
5   12   564376
6   13   493876
7   19   476012
8   18   468917
9   20   466214
10   7   463524
11  17   450162
12  14   444360
13  21   435413
14  16   430482
15  15   424816
16  22   388554
17  23   331104
18   6   317746
19  24   270153
20  25   210444
21   5   186005
22  26   157228
23  27   112791
24   4    89724
25  28    77613
26  29    51770
27   3    34604
28  30    32654
29  31    19981
30  32    11764
31   2     9920
32  33     6711
33  34     3606
34  35     2015
35   1     1858
36  36     1063
37  37      563
38  38      244
39  39      133
40  40       62
41  41       23
42  42       18
43  43        5
44  44        1
4.274350166320801
Query14
         0
0  16.6404
39.73244857788086
Query15
      0                   1                        2                3  \
0  8831  Supplier#000008831  Iwi3KgIdN84qDIVccoeA,NG  17-307-245-8592

              4
0  2385908.0563
2.230260133743286
Query16
              0                         1   2    3
0      Brand#14       SMALL BRUSHED BRASS  45  596
1      Brand#34   ECONOMY BURNISHED STEEL  23  592
2      Brand#44     PROMO POLISHED NICKEL  49  592
3      Brand#54     LARGE BURNISHED STEEL  36  584
4      Brand#14    ECONOMY BRUSHED COPPER  19  580
...         ...                       ...  ..  ...
27835  Brand#14     STANDARD PLATED BRASS  23  287
27836  Brand#52    STANDARD BURNISHED TIN  45  283
27837  Brand#25       SMALL PLATED NICKEL   9  280
27838  Brand#13  STANDARD POLISHED NICKEL  49  276
27839  Brand#55      SMALL POLISHED STEEL  49  272

[27840 rows x 4 columns]
15.952383041381836
Query17
             0
0  32087019.00
54.84989905357361
Query18
                     0         1          2           3          4       5
0   Customer#011472112  11472112  458304292  1998-02-05  591036.15  322.00
1   Customer#012090925  12090925  501322081  1995-02-04  586945.44  319.00
2   Customer#001392379   1392379  332381222  1998-01-24     575600  311.00
3   Customer#013458721  13458721  333307747  1997-12-19  572334.88  319.00
4   Customer#008643083   8643083   84927619  1997-06-29  571417.48  316.00
..                 ...       ...        ...         ...        ...     ...
95  Customer#005060768   5060768  255829888  1997-03-18  533054.97  308.00
96  Customer#014112568  14112568  280056096  1997-01-30  532881.87  313.00
97  Customer#012373496  12373496   61135843  1993-01-30  532734.68  303.00
98  Customer#007910675   7910675  158520577  1992-02-29  532689.01  304.00
99  Customer#013106491  13106491   88925410  1995-01-10  532631.76  310.00

[100 rows x 6 columns]
69.74107885360718
Query19
                0
0  298937728.8820
59.20790886878967
Query20
                        0                                     1
0      Supplier#000000091  35WVnU7GLNbQDcc2TARavGtk6RB6ZCd46UAY
1      Supplier#000000157                           1EmkCApL5iF
2      Supplier#000000197      3oYqODDUGH3XsHXmPuzYHW5NLU3,ONZl
3      Supplier#000000205                          Alrx5TN,hdnG
4      Supplier#000000287                     UQR8bUA4V2HxVbw9K
...                   ...                                   ...
17966  Supplier#000999675                E4qONdjV3qHOb3URsPhOql
17967  Supplier#000999771                     CXBlz MUB,sC8e1 H
17968  Supplier#000999776   h2qm04,8fXkNH0HN,jMGhYjVyZ2,e,PHDeT
17969  Supplier#000999808                      25e,X0DdaP g70en
17970  Supplier#000999859            94DZw9robupm0WZk0VoUeYGDWb

[17971 rows x 2 columns]
21.61884570121765
Query21
                     0   1
0   Supplier#000747754  26
1   Supplier#000458746  25
2   Supplier#000571158  25
3   Supplier#000107007  24
4   Supplier#000410726  24
..                 ...  ..
95  Supplier#000523677  20
96  Supplier#000547932  20
97  Supplier#000559301  20
98  Supplier#000559552  20
99  Supplier#000599009  20

[100 rows x 2 columns]
117.36443567276001
Query22
    0      1             2
0  13  90748  679530260.80
1  17  91314  685030261.91
2  18  91293  684593250.42
3  23  90359  677680422.77
4  29  91123  683678024.88
5  30  91358  685118386.83
6  31  90553  678671645.35
30.800487279891968
CPU times: user 11 s, sys: 841 ms, total: 11.8 s
Wall time: 19min 22s

In [9]:
hyper          = pd.read_csv('hyper.csv')
from datetime import datetime
hyper.at[0, 'dur'] = hyper.at[0, 'dur'] + external_table_duration
hyper['Engine'] = 'hyper'
hyper['time'] = datetime.now().strftime('%Y-%m-%d %H:%M:%S')
hyper['sf'] = sf
hyper['cpu'] = core
sparkDf = spark.createDataFrame(hyper);
sparkDf.write.mode("append").format("delta").save("Tables/TPCH_stats")

StatementMeta(, 81161560-abc3-4db9-af26-00e6494a5003, 11, Finished, Available)

/opt/spark/python/lib/pyspark.zip/pyspark/sql/pandas/conversion.py:604: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.